.git
.gitignore
.venv
venv
ENV
__pycache__
*.pyc
*.pyo
*.pyd
*.log
logs/*
!logs/.gitkeep
.env
.env.local
db.sqlite3
staticfiles/*
media/*
.DS_Store
Thumbs.db
.vscode
.idea
*.sublime-project
*.sublime-workspace
